{% extends "base.html" %}

{% block title %}
Edit Review
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">Edit Review</h1>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 card p-3">
            <form method="POST" action="{{ action_url }}">
                <div class="form-group">
                    <label for="content">Review Content:</label>
                    <textarea class="form-control" id="content" name="content" rows="5">{{ review.content }}</textarea>
                </div>
                <div class="form-group d-flex justify-content-between align-items-center">
                    <button type="submit" class="btn btn-primary">Submit Changes</button>
                    <a href="{{ url_for('index') }}" class="btn btn-secondary ml-2">Cancel</a>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <form method="POST" action="{{ url_for('delete_review', review_id=review.id, book_id=review.book_id) }}"
                class="bg-transparent">
                <div class="form-group d-flex justify-content-center">
                    <button type="submit" class="btn btn-danger">Delete Review</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}